.about {
  max-width: 1320px;
  margin: 0 auto;
}

.card {
  padding: 90px 0;
  width: 100%;
}
.card > img:nth-of-type(1) {
  width: 60%;
  height: 500px;
}

.card .text {
  font-size: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.642);
}

.card p {
  font-size: 18px;
  margin: 15px 0;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.642);
}

.innerCard {
  display: grid;
  gap: 30px;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.innerCard img {
  width: 100%;
}

.innerCard p {
  text-align: center;
}
