.tahririyat {
  max-width: 1320px;
  margin: 0 auto;
  padding: 50px 0 0;
}

.wrapper p {
  font-size: 36px;
  font-weight: 400;
  color: #242424;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.wrapper .title table {
  border-collapse: collapse;
}

.wrapper .title table tbody tr td p {
  margin: 0;
}

.wrapper .title table tbody tr td:first-child {
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.wrapper .title table tbody tr td p {
  font-size: 16px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.wrapper .title table tbody tr td {
  font-size: 16px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* 
.wrapper .title table tbody tr td {
  border: 1px solid black;
  padding: 5px 15px;
  padding: 0;
}




} */
