.section > .card:first-child {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 0 20px;
}

.card {
  width: 65%;
  margin: 20px auto;
}

.card h2 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card h2 span {
  font-size: 26px !important;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #1e3769;
  line-height: 42px;
  margin: 20px 0;
}

.card .img {
  height: 500px;
  margin-bottom: 20px;
}

.card img {
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.textContent p {
  font-size: clamp(14px, 20px, 22px);
  font-family: "Times New Roman", "serif";
  line-height: 28px;
}
