.section > .card:first-child {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 0 20px;
}

.card {
  width: 65%;
  margin: 20px auto;
}

.card h2 {
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.card h2 span {
  font-size: 22px !important;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 36px;
}

.card .img {
  height: 500px;
  margin-bottom: 25px;
}

.card img {
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.textContent p {
  font-size: clamp(14px, 20px, 22px);
  line-height: 36px;
}

