.section {
  background-color: royalblue;
}
.section > .card:first-child {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 0;
}
.card h2 {
  font-size: 36px;
  color: white;
  margin: 20px 0;
}
.card span {
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
  color: white;
  font-weight: 600;
}
.card .img {
  width: 100%;
}

.card .img img {
  width: 100%;
}
.card ul {
  margin: 20px 0;
  color: white;
}
.img-cards img {
  width: 100%;
}
.cards {
  padding: 0;
}

.card p {
  color: white;
  font-size: 20px;
  line-height: 35px;
}

.link p {
  margin-top: 30px;
}
