.tadqiqotlar {
  max-width: 1320px;
  margin: 0 auto 50px;
  /* height: 350px; */
}

.tadqiqotlar h1 {
  font-size: 42px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.tadqiqotlar {
  img {
    width: 100%;
    display: block;
    height: 650px;
    /* filter: blur(5px); */
    background-position: center;
    margin: 30px auto;
  }
}

.tadqiqotlar p {
  font-family: "Times New Roman", "serif";
  font-size: 22px;
  text-align: justify;
  line-height: 36px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.825);
}
