.section {
  max-width: 1320px;
  margin: 100px auto;
}

.formContainer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 38px;
  width: 90%;
  margin: 0 auto;
  color: #023e8a;
}

.card {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin: 50px auto;
}

.box {
  padding: 20px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.box h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #023e8a;
}

.box a {
  line-height: 24px;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.box a:hover {
  transition: all 0.5s ease-in-out;
  color: #3a81de;
}

.inputValue label {
  color: #023e8a;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.inputValue input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.section h2 {
  font-size: 32px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: #023e8a;
  font-weight: 500;
}

.section .sendMessage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0;
  gap: 20px;
}
.section .form {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
}
.sendMessage .inputValue {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  text-align: left;
}

.sendMessage .inputValue label {
  font-size: 18px;
  font-weight: 600;
}

.sendMessage .inputValue input {
  width: 100%;
  padding: 0 15px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.775);
  border: none;
  border: 2px solid gray;
  outline: none;
  height: 42px;
}

.form .sendMessage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form textarea {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  font-weight: 600;
  resize: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.775);
  border: none;
  border: 2px solid gray;
  outline: none;
}

.send {
  margin: 30px 0 0;
  height: 42px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border: none;
  border: 2px solid #023e8a;
  background-color: #023e8a;
  border-radius: 6px;
  outline: none;
}
