.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  position: relative;

  /* ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 40px;
    position: relative;
    z-index: 444444;
    width: 69vw;
    margin-left: auto;
    ol {
      visibility: hidden;
      width: 0;
      height: 0;
      opacity: 0;
    }
    input {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
      position: relative;
      transition: 0.3s ease-in-out;
      font-size: 17px;
      padding: 0 0 20px;
      svg {
        width: 10px;
        height: 10px;
      }
      &:hover {
        padding: 0 5px 20px;

        ol {
          visibility: visible;
          width: max-content;
          height: auto;
          opacity: 1;
          position: absolute;
          top: 30px;
          background: #fff;
          color: black;
          padding: 5px 10px;
          border-radius: 5px;
          li:hover {
            text-decoration: none;
          }
          &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 20px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
          }
          li {
            margin-bottom: 10px;
            padding: 0;
          }
        }
      }
    }
  } */
}

.container {
  max-width: 100%;
  background-color: white;
  margin: 0 auto;
}

.lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  background: #c5c5c50e;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 700;
  span {
    margin-top: 5px;
  }
  * {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 25px;
    }
  }
}

@media (max-width: 1150px) {
  .header {
    input {
      display: none;
    }
    .logo {
      width: 200px;
      height: auto;
      padding: 10px 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    ul {
      display: none;
    }
    .show {
      flex-direction: column;
      display: flex;
      top: -70px;
      width: max-content;
      padding: 10px 20px;
      gap: 5px;
      backdrop-filter: blur(40px);
      color: #fff;
      li {
        padding: 5px;
      }
      ol {
        visibility: hidden;
        width: 0;
        opacity: 0;
        position: relative;
        background: #00000094;
        height: 0;
      }
      input:checked + label {
        position: relative;
        ol {
          opacity: 1;
          visibility: visible;
          width: max-content;
          height: auto;
          position: rel;
        }
      }
    }
  }
  .menu-mob {
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(100px);
    position: absolute;
    width: max-content;
    padding: 5px;
    z-index: 999999;
    top: 25px;
    right: 20px;
    .mob-icon {
      border: 2px solid #fff;
      display: inline-block;
    }
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: aliceblue;
      }
    }
  }
}

/* home-card dactarantura */
.home-card {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.wrapper {
  height: 370px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.homeimg {
  border: none;
  height: 300px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;

  img {
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
}
.contentTitle {
  text-align: center;
  position: relative;
  padding: 10px 0;
  height: 100px;
  background-color: #0052b4;
  transition: all 0.5s ease-in-out;
  border-radius: 0 0 20px 20px;

  h2 {
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: white;
    line-height: 22px;
    text-transform: capitalize;
  }

  .social-links {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .social-links a {
    margin: 0 10px;
  }
}

.wrapper:hover .contentTitle {
  position: relative;
  margin-top: -30px;
  z-index: 999;
  transition: all 0.5s ease-in;
}

.wrapper:hover img {
  margin-top: -20px;
  transition: all 0.5s ease-in;
}

.wrapper:hover .social-links {
  transform: translate(-50%, 0);
  opacity: 1;
}

/* home-card dactarantura */
