.tradeUnion {
  position: relative;
}

.tradeUnionContainer {
  width: 80%;
  margin: 100px auto 50px;
  h1 {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}

.chiziq {
  display: flex;
  margin-top: 280px;
  position: absolute;
  height: 110px;
  z-index: -1;
  width: 100%;
  background-color: red;
}

.team-grid {
  display: grid;
  align-items: self-start;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 20px gray;
  padding: 15px;
  text-align: center;
}

.team-member img {
  width: 170px;
  display: block;
  margin: 0 auto;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

.card > p:nth-of-type(1) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card > p:nth-of-type(2) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 25px;
  overflow: hidden;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 10px 0 5px;
}
