.organizationStructure {
  max-width: 1320px;
  margin: 70px auto 50px;
}
.card {
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  img {
    width: 100%;
    height: 700px;
    object-fit: contain;
  }
}

/* RESPONSIVE */

@media only screen and (max-width: 1080px) {
  .organizationStructure {
    .card {
      padding: 50px 50px 0;

      img {
        height: 500px;
        object-fit: fill;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .organizationStructure {
    .card {
      padding: 30px 20px 0;

      img {
        height: 400px;
        object-fit: cover;
      }
    }
  }
}
