.container {
  margin: 100px auto 50px;
  max-width: 1320px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
}

/* search input style */
.searchInput {
  width: 100%;
  transition: all 0.4s ease-in-out;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid gray;
  outline: none;
  height: 48px;
  color: #12111170;
  padding: 0 15px;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 8px;
}

.searchInput:focus {
  box-shadow: 0 0 20px gray;
  transition: all 0.4s ease-in-out;
  border-color: black;
  border-color: gray;
}
/* search input style */

/* Acardion style */
.custom-checkbox {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-checkbox:checked {
  background-color: transparent;
}

.custom-checkbox:checked::before {
  content: "✔";
  font-size: 12px;
  color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Acardion style */

/* imgContainer style */
.imgContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.imgContainer .card {
  border: none;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.41);
}

.imgContainer .img {
  position: relative;
  border: none;
  height: 280px;
}

.imgContainer .img img {
  height: 100%;
  width: 100%;
}

.imgContainer .img a {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  right: 20px;
}

.imgContainer .card p {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 10px 20px;
  line-height: 26px;
  height: 65px;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
}
/* imgContainer style */

/* paginatsiya */
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 20px 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination li a {
  width: 42px;
  display: grid;
  place-items: center;
  height: 42px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: 2px solid #2c2c2cda;
  font-family: "Poppins", sans-serif;
}

.pagination li a:hover {
  background-color: #023e8a;
  color: white;

  transition: all 0.3s ease-in-out;
}

.active a {
  background-color: #023e8a;
  border: none;
  color: white;
}
