.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 50px auto;
  font-family: "Georgia", serif;
  color: #555;
  text-align: left;
  padding-top: 35px;
}

.images {
  width: 650px;
  border-radius: 10px;
}
.container {
  display: flex;
  justify-content: center;
}

.about-title {
  font-size: 28px;
  color: #444;
  margin: 30px 0 !important;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.about-text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
}
h3 table {
  width: 100% !important;
}

h3 table tr td p,
strong {
  text-align: center;
  display: block;
  line-height: 25px;
  font-weight: 500;
}

h3 table tr td:first-child {
  width: 6% !important;
}

h3 table tr td {
  padding: 10px 0;
}

.read-more {
  font-size: 16px;
  color: #336699;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
