.globalPartners {
  max-width: 1320px;
  margin: 0 auto;
  padding: 70px 0 0;
}
.globalPartners h2 {
  font-size: 36px;
  font-weight: 400;
  color: #242424;
  margin: 20px 0;
  text-align: left;
  font-family: "arial", sans-serif;
}

.globalPartners p strong {
  font-size: 24px;
  text-align: left;
  margin-bottom: 15px;
}

.globalPartners p {
  text-align: justify;
  color: #242424;
  font-size: 16px;
  font-weight: 400;
  font-family: "arial", sans-serif;
  line-height: 30px;
}
