.internationalTravels {
  max-width: 1320px;
  margin: 70px auto 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

.card {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card-container img {
  width: 100%;
  height: 400px;
}

.card-container h2 {
  margin: 25px 0;
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.card-content p {
  font-weight: 400;
  margin-top: 30px;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}
