.internationalTravels {
  max-width: 1320px;
  margin: 55px auto 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  padding: 30px;
}

.internationalTravels h2 {
  margin: 25px 0;
  text-align: left;
  font-size: 36px;
  font-weight: 400;
  font-family: "Times New Roman", "serif";
}

.card {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.card-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* .card-content p p:nth-child(-n + 3) {
  display: none;
} */

.card-content p {
  line-height: 32px;
}

@media only screen and (max-width: 1080px) {
  .internationalTravels {
    .card {
      grid-template-columns: 2fr 3fr;
      gap: 15px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .internationalTravels {
    h2 {
      font-size: 30px;
    }
    .card {
      grid-template-columns: 1fr;
      .card-content {
        p {
          line-height: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .internationalTravels {
    h2 {
      font-size: 26px;
    }
  }
}
