.internationalTravels {
  max-width: 1320px;
  margin: 70px auto 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

.internationalTravels h2 {
  margin: 25px 0;
  text-align: left;
  font-size: 36px;
  font-weight: 400;
  font-family: "Times New Roman", "serif";
}

.card {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.card-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* .card-content p p:nth-child(-n + 3) {
  display: none;
} */

.card-content p {
  line-height: 32px;
}
