.journal-page {
  width: 100%;
  padding: 49px 0 0;
}

.links {
  background-image: url("./PageIcons/bgtower.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgtower {
  width: 100%;
  height: 400px;
}

.navLinkWrapper {
  gap: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -55px;
  height: 120px;
  font-size: 18px;
  letter-spacing: 1px;
}

.effect-btns {
  width: 150px;
  background-color: white;
  height: 100%;
  padding: 10px;
  transition: all 0.6s ease-out;
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: end;
}

.effect-btns span {
  margin: 20px auto 5px;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}

.effect-btns:hover {
  transition: all 0.6s ease-out;
  background-color: #023e8a;
  color: white;
}

.effect-btns svg {
  position: absolute;
  top: 40%;
  font-size: 42px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.tabLine {
  max-width: 1320px;
  padding: 30px 0;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .journal-page .links .navLinkWrapper .effect-btns span {
    font-size: 14px !important;
  }

  .journal-page .links .navLinkWrapper .effect-btns svg {
    font-size: 36px;
  }
}

@media only screen and (max-width: 600px) {
  .journal-page .links .navLinkWrapper {
    height: 100px;
    gap: 10px;
  }

  .journal-page .links .navLinkWrapper .effect-btns {
    width: 120px;
  }

  .journal-page .links .navLinkWrapper .effect-btns svg {
    font-size: 30px;
  }
}
