.container {
  max-width: 1320px;
  margin: 90px auto 50px;
  padding: 30px;
}

.cards {
  display: grid;
  gap: 25px;
  margin-bottom: 30px;
  grid-template-columns: repeat(4, 1fr);

  .images {
    height: 280px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .discription {
    padding: 10px 20px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    height: 75px;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .btn-details {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    margin: 12px 0 5px;
    letter-spacing: 1.8px;
    margin-left: auto;
    color: rgba(0, 0, 255, 0.871);
    cursor: pointer;
  }

  .btn-details:hover {
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 5px white;
  }
}

.card {
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.759);
}

.detailContainer {
  max-width: 1320px;
  margin: 90px auto 50px;
  padding: 0 30px;
}

.detailCard {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.detailCard .detailImg {
  width: 30%;
  height: 450px;
  box-shadow: 0 0 10px gray;
  border-radius: 15px;
}

.detailCard .detailImg p {
  margin-top: 15px;
}

.detailCard .detailImg img {
  border-radius: 15px;
  width: 100%;
}

.detailCard .detailTextCard {
  width: 70%;
  display: grid;
  height: 450px;
  box-shadow: 0 0 10px gray;
  place-items: center;
  padding: 20px;
  border-radius: 15px;
}

.detailCard .detailText {
  width: 100%;
  height: 410px;
  overflow-y: auto;
}

.detailCard .detailText p {
  line-height: 36px;
  padding-right: 20px;
}

.detailContainer {
  img {
    height: 360px;
  }
}

.detailContainer .about-title {
  margin: 0 0 15px;
  color: rgba(0, 0, 0, 0.845);
}

/* paginatsiya */
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 20px 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination li a {
  width: 42px;
  display: grid;
  place-items: center;
  height: 42px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: 2px solid #2c2c2cda;
  font-family: "Poppins", sans-serif;
}

.pagination li a:hover {
  background-color: #023e8a;
  color: white;

  transition: all 0.3s ease-in-out;
}

.active a {
  background-color: #023e8a;
  border: none;
  color: white;
}

/* RESPONSIV CODE */

@media only screen and (max-width: 1080px) {
  .container {
    padding: 35px 20px 20px;
    margin-bottom: 0;

    .cards {
      margin-bottom: 10px;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;

      .card {
        .images img {
          object-fit: cover;
        }

        .discription {
          padding: 10px;
        }
      }
    }
  }

  .detailContainer {
    padding-top: 30px;

    .detailCard {
      flex-direction: column;
      grid-row-gap: 30px;
      margin-top: 30px;

      .detailImg {
        width: 50%;
        margin: 0 auto;
      }

      .detailTextCard {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .detailContainer {
    width: 100%;
    .about-title {
      font-size: 17px;
    }

    .detailCard {
      .detailImg {
        width: 75%;
      }

      .detailTextCard {
        width: 100%;
        .detailText {
          p span {
            font-size: 18px !important;
          }

          p {
            line-height: 26px;
            width: 96%;
            overflow-x: hidden;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .cards {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
      .card {
        .images {
          height: 340px;
        }
      }
    }
  }

  .detailContainer {
    padding: 20px;
    .about-title {
      font-size: 14px;
      line-height: 22px;
    }

    .detailCard {
      .detailImg {
        width: 100%;
      }
    }
  }
}
