.container {
  margin: 100px auto 50px;
  max-width: 1320px;
}

.description > p:nth-of-type(1) {
  color: #242424;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.description > div:nth-of-type(1) table tbody {
  margin: 0 auto;
}

.description p:nth-of-type(2) strong {
  color: #151515;
  font-size: 18px;
  line-height: 36px;
  font-family: "Arial", sans-serif;
}

/* employees */

.description .employees {
  margin-top: 50px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.description .employeesImg {
  height: 300px;
}

.description .employeesImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description .employeesDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.employeesName {
  text-align: center;
}

.employeesName span {
  display: block;
  margin: 0;
  line-height: 26px;
  text-align: center;
}
