.container {
  margin: 100px auto 50px;
  max-width: 1320px;
}

.prevIcon {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.employeesCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
}

.prevIcon .back-button {
  display: flex;
  margin-left: 0;
  gap: 15px;
  align-items: center;
}

.prevIcon p {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  text-align: left;
  font-weight: 400;
  line-height: 36px;
}

.description > div:nth-of-type(1) table tbody {
  margin: 0 auto;
}

/* employees */

.description .employees {
  margin-top: 50px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.description .employeesImg {
  height: 300px;
}

.description .employeesImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description .employeesDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.employeesName {
  text-align: center;
  padding-bottom: 10px;
}

.employeesName span {
  display: block;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.text_id {
  margin-top: 30px;
}
