.container {
  margin: 100px auto 50px;
  max-width: 1320px;
}

.description > p:nth-of-type(1) {
  color: #242424;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.description p:nth-of-type(2) strong {
  color: #151515;
  font-size: 18px;
  line-height: 36px;
  font-family: "Arial", sans-serif;
}
