.navbar {
  user-select: none;
  background: rgb(1, 1, 60);
  overflow: hidden;
  color: #fff;

  .logo {
    width: 150px;
    img {
      max-width: 100%;
    }
  }

  .container {
    width: 100%;

    .show {
      height: 55px;
      width: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: rgba(0, 0, 0, 0.568);
      backdrop-filter: blur(10px);
      z-index: 1000;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 10px;
      transition: all 0.5s ease-in;

      li {
        p {
          cursor: pointer;
        }
        &:hover {
          opacity: 0.8;
          ol {
            position: absolute;
            top: 55px;
            opacity: 1;
            visibility: visible;
            transition: all 0.5s ease-in;
            width: 225px;
            z-index: 1000;
          }
        }
      }
      label {
        position: relative;
        height: 100%;
        p {
          display: flex;
          align-items: center;
          gap: 4px;
        }

        svg {
          height: 15px;
          width: 15px;
        }

        ol {
          opacity: 0;
          text-align: left;
          font-size: 14px;
          visibility: hidden;
          position: absolute;
          top: 100px;
          width: 225px;
          transition: all 0.2s ease-in;
          background: #494949;
          /* backdrop-filter: blur(100px); */
          z-index: 1000;
          li {
            padding: 10px;
            border: none;
          }
        }
      }
    }

    .top {
      display: flex;
      justify-content: space-between;
      max-width: 1600px;
      padding: 0 100px;
      margin: 10px auto 0;
      height: 80px;
      align-items: center;
    }
  }
}

.menu-mob {
  display: none;
}

.lang {
  .change {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin: 5px 0;
    cursor: pointer;
    p {
      font-size: 14px;
    }
  }
  img {
    width: 22px;
    height: 16px;
  }
}

.top_alert {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #fff;
  height: 35px;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 100px;
}
