.center-departments {
  /* .bg_img {
    width: 100%;
    margin-top: 45px;
    height: 450px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./bg-tarix.jpg");
  } */

  .bg_img {
    width: 100%;
    margin-top: 55px;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .tab_card {
    padding-top: 50px;
  }

  .tabs {
    max-width: 1320px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }

  .tab {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  .links {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    transition: all 0.5s ease-in-out;
    height: 80px;
    box-shadow: 0 0 20px rgb(51, 50, 50) !important;
    color: #e9eaea;
    background-color: rgb(98, 98, 98);
    h3 {
      transition: all 0.5s ease-in-out;
      text-transform: uppercase;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
    }
    gap: 10px;
    .icon {
      font-size: 35px;
      transition: all 0.5s ease-in-out;
    }
  }

  .links:hover h3,
  .links:hover .icon {
    color: #023e8a;
    transition: all 0.5s ease-in-out;
  }
}
