.center-departments {
  .bg_img {
    width: 100%;
    margin-top: 45px;
    height: 450px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./bg-tarix.webp");
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    max-width: 1320px;
    gap: 30px;
    bottom: -100px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }

  .links {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    transition: all 0.5s ease-in-out;
    height: 200px;
    border: 3px solid whitesmoke;
    background-color: whitesmoke;
    h3 {
      transition: all 0.5s ease-in-out;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
    }
    gap: 10px;
    .icon {
      font-size: 45px;
      transition: all 0.5s ease-in-out;
    }
  }

  .links:hover {
    border: 3px solid rgb(189, 21, 21);
    transition: all 0.5s ease-in-out;
  }

  .links:hover h3,
  .links:hover .icon {
    color: rgb(189, 21, 21);
    transition: all 0.5s ease-in-out;
  }

  /* .tab_card {
    max-width: 1320px;
    margin: 0 auto;
  }

  .tab_card {
    padding: 150px 0 60px;
  } */
}
