.center-departments {
  .bg_img {
    width: 100%;
    margin-top: 55px;
    /* min-height: 450px; */
    position: relative;
    transition: all 0.5s ease-in-out;
  }

  .bg_img_top {
    width: 100%;
    /* margin-top: -320px; */
    margin-top: -370px;
    position: relative;
    z-index: -1;
    transition: all 0.4s ease-in-out;
  }

  .bg_img img {
    width: 100%;
    /* min-height: 450px !important; */
    min-height: 500px !important;
    object-position: center;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }

  .tabs {
    max-width: 800px;
    display: flex;
    justify-content: center;
    background-color: #023e8a;
    margin: -32px auto 50px;
    padding: 12px;
    border-radius: 35px;
    position: relative;
  }

  .tab {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 0 30px;
    align-items: center;
    transition: all 0.5s ease-in-out;
    height: 40px;
    border-radius: 18px;
    color: white;
    /* background-color: #032864; */
    border: 2px solid #022559c8;
    h3 {
      transition: all 0.5s ease-in-out;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.5px;
      font-family: "Poppins", sans-serif;
    }

    gap: 10px;
    .icon {
      font-size: 35px;
      transition: all 0.5s ease-in-out;
    }
  }

  .links:hover h3,
  .links:hover .icon {
    transition: all 0.5s ease-in-out;
  }

  .top {
    position: relative;
    transition: all 0.4s ease-in-out;
    top: -400px;
  }
}
