.footer {
  background: rgba(42, 146, 210, 0.862);
  padding: 30px 0;
  color: rgba(255, 255, 255, 0.747);

  h2 {
    width: 100%;
    font-size: 32px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 10px 0;
    text-align: center;
  }
}

.bottom {
  text-align: center;
  margin: 20px 0;
}

a {
  transition: all 0.6s ease-in-out;
}

.footer a:hover {
  transition: all 0.6s ease-in-out;
  color: rgba(0, 0, 0, 0.736);
}

span {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

