.container {
  max-width: 1320px;
  margin: 100px auto 60px;
}

.wrapper {
  display: grid;
  grid-template-columns: 6fr 3fr;
  gap: 30px;
  align-items: flex-start;
  padding: 30px;
  height: 550px;
  box-shadow: 0 0 10px rgb(198, 198, 198);
}

.wrapper .viewsBtn {
  overflow-y: auto;
  height: 100%;
}

.viewsBtn .viewsCard {
  width: 95%;
  margin-right: auto;
}

.wrapper img {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(198, 198, 198);
}

.wrapper button {
  display: flex;
  padding: 8px;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  box-shadow: 0 0 8px rgb(216, 216, 216);
  border-radius: 8px;
  border: 1px solid rgb(216, 216, 216);
  gap: 15px;
  cursor: pointer;
}

.wrapper button img {
  width: 130px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.viewsCard button span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-size: 20px !important;
  line-height: 26px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}
