.seminar-container {
  max-width: 1320px;
  margin: 70px auto 0;
  padding: 10px 0 30px;
}

.prevIcon {
  display: flex;
  margin-bottom: 15px;
}

.prevIcon .back-button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 0;
}

.prevIcon p {
  margin: 0 auto;
  font-size: 26px;
  font-weight: 400;
  line-height: 42px;
  font-family: "Times New Roman", "serif";
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 35px 0;
}

.wrapper .cards {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.673);
}

.wrapper img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.wrapper h2 {
  margin: 0;
  padding: 10px 15px 15px;
  display: -webkit-box;
  height: 85px;
  font-size: 16px;
  line-height: 25px;
  -webkit-line-clamp: 3;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrapper .cards .btn {
  margin: 15px;
  color: blue;
  margin-left: auto;
}

/* SeminarDetail style */

.seminar-container .detailImg {
  width: 70%;
  margin: 0 auto;
  display: block;
  object-fit: contain;
  height: 600px;
}

.seminar-container .title {
  margin-top: 15px;
}

.seminar-container .title p {
  line-height: 36px;
}
