.seminar-container {
  max-width: 1320px;
  margin: 70px auto 0;
  padding: 10px 0 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 35px 0;
}

.wrapper .cards {
  background-color: rgba(0, 0, 255, 0.682);
}

.wrapper img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.wrapper h2 {
  margin: 0;
  padding: 10px 15px 15px;
  display: -webkit-box;
  height: 85px;
  font-size: 16px;
  line-height: 25px;
  -webkit-line-clamp: 3;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrapper .cards .btn {
  margin: 15px;
  margin-left: auto;
}

/* SeminarDetail style */

.seminar-container > p:nth-of-type(1) {
  font-size: 32px;
  font-weight: 400;
  margin: 35px 0;
  line-height: 42px;
  text-align: left;
  font-family: "Times New Roman", "serif";
}

.seminar-container .detailImg {
  width: 70%;
  margin: 0 auto;
  display: block;
  object-fit: contain;
  height: 600px;
}


.seminar-container .title p {
  font-family: "Times New Roman", "serif";
  font-weight: 400;
  margin-top: 20px;
  font-size: 20px;
  line-height: 36px;
}
