.container {
  max-width: 1320px;
  margin: 150px auto 60px;
}

.employees {
  display: grid;
  padding-top: 45px;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.employees .card {
  box-shadow: 0 0 5px gray;
}

.employees .name {
  margin: 15px 0 7px;
  text-align: center;
  color: rgba(0, 0, 0, 0.731);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: block;
}

.img {
  width: 100%;
  padding: 20px 20px 0;
  height: 320px;
}

.acardion {
  padding: 0 20px 20px;
}

.acardion span:nth-of-type(2) {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  font-family: "Poppins", sans-serif !important;
  font-weight: 100 !important;
  font-size: 16px !important;
  -webkit-box-orient: vertical;
  height: 80px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
}

.detail {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 255, 0.677);
  font-size: 18px;
  display: flex;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  justify-content: flex-end;
}

.container {
  max-width: 1320px;
  margin: 100px auto;
  min-height: 400px;
}

.container .imgDetail {
  width: 35%;
  padding: 0;
  margin-right: 25px;
  float: left;
  height: 400px;
}

.container .imgDetail img {
  width: 100%;
  height: 100%;
}

.cardDetail h1 {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.756);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: capitalize !important;
}

.cardDetail p {
  line-height: 32px;
}
