.container {
  max-width: 1320px;
  margin: 80px auto;
  min-height: 450px;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  margin-left: 0;
  color: rgba(0, 0, 255, 0.749);
}

.employeesX {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.employeesX .card {
  width: 100%;
  box-shadow: 0 0 5px gray;
}

.employeesX .name {
  margin: 10px 0 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.731);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: block;
}

.img {
  width: 100%;
  padding: 20px 20px 0;
  height: 320px;
}

.description {
  padding: 0 20px 20px;
}

.description p {
  line-height: 26px;
  color: rgba(0, 0, 0, 0.838);
}

.description > p:nth-of-type(1) {
  display: -webkit-box;
  height: 26px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
}

.detail {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 255, 0.677);
  font-size: 18px;
  display: flex;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  justify-content: flex-end;
}

.cardDetail,
.imgDetail {
  overflow-y: hidden;
  padding: 30px;
  height: 82vh;
  border: 3px solid rgba(128, 128, 128, 0.525);
  border-radius: 8px;
}

.cardDetail div {
  overflow-y: auto;
  height: 72vh;
  padding-right: 30px;
}

.imgDetail h1 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.756);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
  text-transform: capitalize !important;
}

.cardDetails {
  display: grid;
  gap: 35px;
  grid-template-columns: 1fr 2fr;
  height: 82vh;
}

.cardDetails .imgDetail img {
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 290px;
  border-radius: 50%;
}

.imgDetail .user-details {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.imgDetail .user-details span {
  font-size: 18px !important;
  font-weight: 600;
  line-height: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.imgDetail .user-details span:last-child {
  font-weight: 400;
  text-align: right;
}

.imgDetail .user-details > span:first-of-type {
  width: 120px !important;
}

/* lineX style */
.lineX {
  width: 100%;
  margin: 25px 0;
  background-color: rgba(128, 128, 128, 0.525);
  height: 2.5px;
}
/* lineX style */

/* acardion style */
.acardion {
  display: grid;
  margin-top: 25px;
  transition: transform 0.5s ease-in-out;
  align-items: flex-start;
  grid-template-columns: 1fr 2fr;
  gap: 35px;
}

.acardion .toggleBtn {
  display: flex;
  background-color: white;
  padding: 8px 15px;
  border-radius: 8px;
  align-items: center;
  border: 3px solid rgba(128, 128, 128, 0.525);
  width: 100%;
  justify-content: space-between;
}

.acardion .toggleBtn span {
  display: block;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.853);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.acardion .closeText {
  height: 0px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  transition: all 0.5s ease-out;
}

.acardion .openText {
  height: 100%; /* Ichidagi matn uzunligiga qarab moslashadi */
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.acardion .rotateIcon {
  color: rgba(0, 0, 0, 0.853);
  transition: 0.4s ease-in-out;
}

.acardion .rotateIconY {
  transform: rotate(180deg);
  color: rgba(0, 0, 0, 0.853);
  transition: 0.4s ease-in-out;
}

/* acardion style */
