.container {
  max-width: 1320px;
  margin: 100px auto 60px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
  align-items: flex-start;
  padding: 30px;
  height: 450px;
  box-shadow: 0 0 10px rgb(198, 198, 198);
}

.wrapper img {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(198, 198, 198);
}

.audioCard {
  height: 100%;
  overflow-y: auto;
}

.audioCard::-webkit-scrollbar {
  width: 8px; /* Scrollning eni */
}

.audioCard::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.93); /* Scrollning ushlanadigan joyi */
  border-radius: 5px;
  cursor: pointer;
}

.audioCard::-webkit-scrollbar-track {
  background-color: rgb(182, 182, 182); /* Scroll joyi fon rangi */
}

.wrapper button {
  display: flex;
  padding: 10px 15px;
  border: 2px solid rgba(0, 0, 0, 0.866);
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
  cursor: pointer;
  width: 95%;
  margin-right: auto;
}

.wrapper button span {
  display: -webkit-box;
  width: 94%;
  text-align: left;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
