.container {
  max-width: 1320px;
  margin: 100px auto 60px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
  align-items: flex-start;
  padding: 30px;
  height: 450px;
  box-shadow: 0 0 10px rgb(198, 198, 198);
}

.wrapper .cards {
  height: 100%;
}

.wrapper .cards img {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(198, 198, 198);
}

.wrapper .listeningCard {
  height: 100%;
  overflow-y: auto;
  padding: 0 20px;
}

.wrapper .listeningCard button {
  width: 100%;
  padding: 20px;
  text-align: left;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 10px rgb(198, 198, 198);
}

.wrapper .listeningCard button:hover {
  background-color: #4e9beeb0;
  transition: all 0.4s ease-in-out;
}
