.generalInfo {
  margin: 0 auto;
}

.cards {
  gap: 30px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr;
  .img {
    width: 100%;
    margin-top: 50px;
    height: 350px;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .contants {
    padding-right: 10px;
    max-width: 1320px;
    margin: 0 auto 30px;
    transition: all 0.5s ease-in;
    min-height: 450px;
    transition: max-height 0.5s ease-in-out;

    .btn {
      border: none;
      height: 48px;
      background-color: #023e8a;
      text-align: center;
      color: white;
      font-family: "Poppins", sans-serif;
      padding: 0 20px;
      font-weight: 400;
      font-size: 18px;
      margin-top: 20px;
      cursor: pointer;
    }

    p {
      text-align: justify;
      font-weight: 400;
      line-height: 26px;
      font-size: 16px;
      transition: all 0.5s ease-in-out;
    }

    h2 {
      font-size: 32px;
      color: rgba(0, 0, 0, 0.892);
      font-weight: 400;
      margin: 0;
      font-family: "Poppins", sans-serif;
    }

    .hiddenText {
      font-size: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 12;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-family: "Poppins", sans-serif;
      transition: all 0.5s ease-in-out;
    }

    .openText {
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      transition: all 0.5s ease-in-out;
    }
  }
}
